body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8f8f8f;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

input[type=range] {
    width: 80%;
    margin-top: 10px;
}

button {
    background-color: #313131;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin-right: 10px;
}

input[type=text] {
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

label {
    display: inline-block;
    text-align: left;
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
}
